venv/
__pycache__/
*.pyc
.env
certbot/conf/*
!certbot/conf/.gitkeep
certbot/www/*
!certbot/www/.gitkeep
apps/frontend/blog_bm0p/node_modules/
apps/frontend/blog_bm0p/.astro/
apps/frontend/blog_bm0p/dist/
